<%- include ('../partials/header', { scripts: ["edit-users.js"] }) %>
<span id="user_id" hidden><%=session.user._id %></span>
<div class="flex-fill d-flex justify-content-center" style="overflow-y: auto;">
  <div class="container">
    <div class="jumbotron py-4">
      <h1 class="display-3">Users</h1>

      <div class="d-flex justify-content-end">
      </div>

      <div class="d-flex">
        <button class="btn btn-success my-3 mr-auto" type="submit" id="btnNew" style="visibility: hidden; opacity: 0" data-toggle="modal" data-target="#exampleModal">New</button>
        <button class="btn btn-success my-3 ml-2" type="submit" id="btnEdit">Edit</button>
        <button class="btn btn-success my-3 ml-2" type="submit" id="btnRefresh">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg></button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Account Type</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { if(!user.disabled) { %>
          <tr class="user" id="<%= user._id %>">
            <td scope="row">
              <input type="text" value="<%= user.username %>" default="<%= user.username %>" disabled></input>
            </td>
            <td><%= user.name.first ? user.name.first : "-" %></td>
            <td><%= user.name.last ? user.name.last : "-" %></td>
            <td>
              <select default="<%= user.account_type %>" disabled>
                <option selected><%= user.account_type %></option>
                <option><%= (user.account_type == "admin") ? "user" : "admin" %></option
              </select>
            </td>
            <td>
              <div class="text-center">
                <a class="text-secondary" style="visibility: hidden; cursor: pointer;">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                  </svg>
                </a>
              </div>
            </td>
          </tr>
          <% }}); %>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-end">
        <button id="btnSave" class="btn btn-success my-3" style="visibility: hidden; opacity: 0">Save</button>
      </div>
    </div>


    <!-- New user modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add an account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/users" method="POST">
            <div class="modal-body">
              <div class="row">
                <div class="form-group col-6">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" id="username" placeholder="johndoe" required>
                </div>
                <div class="form-group col-6">
                  <label for="account_type">Account Type</label>
                  <select class="custom-select" id="account_type" name="account_type" required>
                    <option selected value="">Choose...</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group col-6">
                  <label for="confirmPassword">Confirm password</label>
                  <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Password" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>
