<%- include ('../partials/header') %>

<div class="container jumbotron">
  <h1 class="display-3">User Settings</h1>
  <hr class="my-4">

  <form class="m-3" action="/settings" method="POST"></form>
  
  <h3 class="display-6">User Info</h3>

  <div class="row">

    <div class="form-group col-5">
      <label for="username">First name</label>
      <input type="text" class="form-control" name="firstName" id="firstName" value="<%=
      session.user.name.first %>" required>
    </div>

    <div class="form-group col-2">
      <label for="MI">MI</label>
      <input type="text" maxlength="1" class="form-control" name="MI" id="MI" value="<%=
      session.user.name.mi %>">
    </div>

    <div class="form-group col-5">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" name="lastName" id="lastName" value="<%=
      session.user.name.last %>" required>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" value="<%=
      session.user.name.first %>" required>
    </div>
    <div class="form-group col-6">
      <label for="phone">Phone number (optional)</label>
      <input input type="text" class="form-control" name="phone" id="phone" value="<%=
      session.user.phone %>" placeholder="(123)-456-7890">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="<%=
      session.user.email %>" required>
    </div>

      
    
  </div>
  <hr class="my-4">
  <h3 class="display-6">Password</h3>
  <div class="row">
    <div class="form-group col-6">
      <label for="password">Old Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="password">New Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
    </div>
    <div class="form-group col-6">
      <label for="confirmPassword">Confirm New Password</label>
      <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Password" required>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="p-2"><button type="submit" class="btn btn-primary btn-lg">Update</button></div>
    <div class="p-2"></div>
    <div class="p-2"><button type="submit" class="btn btn-danger">Delete User</button></div>

  </div>
  
</div>

<%- include ('../partials/footer') %>
