<%- include ('../partials/header', { scripts: ["add-expense.js"], styles: [] }) %>

<div class="d-flex flex-fill" style="overflow-y: auto">
  <div class="container">
    <div class="jumbotron py-4">
      <h1 class="display-3 mb-4"><%=session.user.name.first %>'s expenses</h1>

      <!-- num results and search bar -->
      <div class="d-flex">
        <div class="mr-auto">
          <div table_length"><label>Total: $<%= total %> for
              <select id="month" class="custom-select-sm" style="border-width:0px;">
                <option value="0" <%= session.month == 0 ? "selected" : "" %>>All Months</option>
                <option value="12" <%= session.month == 12 ? "selected" : "" %>>December</option>
                <option value="11" <%= session.month == 11 ? "selected" : "" %>>November</option>
                <option value="10" <%= session.month == 10 ? "selected" : "" %>>October</option>
              </select></label>
          </div>
        </div>
          <div class="mr-auto">
            <div table_length"><label>Show
                <select id="table_length" class="custom-select-sm" style="border-width:0px;">
                  <option value="10" <%= session.num_results == 10 ? "selected" : "" %>>10</option>
                  <option value="25" <%= session.num_results == 25 ? "selected" : "" %>>25</option>
                  <option value="50" <%= session.num_results == 50 ? "selected" : "" %>>50</option>
                  <option value="100"<%= session.num_results == 100 ? "selected" : "" %>>100</option>
                </select> entries</label>
            </div>
          </div>
        <div class="">
          <div id="expenses-table_filter" class="">
            <label>Search: <input id="search" type="search" class="form-control-sm" placeholder="Search expense" style="border-width:0px;"
              value="<%= pageInfo.search ? pageInfo.search : "" %>"></label>
          </div>
        </div>
      </div>

      <!-- table -->
      <table id="expenses-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" name="title" id="title" placeholder="Title" required></th>
            <th><input type="number" step="0.01" class="form-control" name="amount" id="amount" placeholder="00.00" required></th>
            <th><input type="date" class="form-control" name="date" id="date" required></th>
            <th>
              <div class="dropdown show">
                <select class="form-control" name="category" id="category" placeholder="category" required>
                  <option>Food</option>
                  <option>Utilities</option>
                  <option>Transportation</option>
                  <option>Entertainment</option>
                  <option>Insurance</option>
                  <option>Shopping</option>
                  <option selected>Others</option>
                </select>
              </div>
            </th>
            <th><button type="submit" id="add-btn" class="btn btn-success m-0" style="width:100%">Add</button></th>
          </tr>
        </thead>
        <tbody>
          <% expenses.forEach(function(expense) { if(!expense.disabled) { %>
          <!-- <% var date = new Date(expense.date); date.setHours(date.getHours() - 6); %> -->
          <tr class="expense" id="<%= expense._id %>">
            <td><input type="text" class="title" value="<%= expense.title %>" required disabled></td>
            <td><input type="number" class="amount" value="<%= expense.amount %>" required disabled></td>
            <td><input type="date" class="date" value="<%= expense.date.toISOString().slice(0,10) %>" required disabled></td>
            <td>
              <select class="category" required disabled>
              <option <%= expense.category == "Food" ? "selected" : "" %>>Food</option>
              <option <%= expense.category == "Utilities" ? "selected" : "" %>>Utilities</option>
              <option <%= expense.category == "Transportation" ? "selected" : "" %>>Transportation</option>
              <option <%= expense.category == "Entertainment" ? "selected" : "" %>>Entertainment</option>
              <option <%= expense.category == "Insurance" ? "selected" : "" %>>Insurance</option>
              <option <%= expense.category == "Shopping" ? "selected" : "" %>>Shopping</option>
              <option <%= expense.category == "Others" ? "selected" : "" %>>Others</option>
              </select>
            </td>
            <td class="d-flex" style="height:100%">
              <a class="text-secondary ml-2 mr-auto" style="cursor: pointer">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
              </svg>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="display:none">
                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
              </svg>
              </a>
              <a class="text-secondary mr-2" style="cursor: pointer">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
              </a>
            </td>
          </tr>
          <% }}); %>
        </tbody>
      </table>

      <div class="d-flex">
      <p class="mr-auto">Showing <%= (pageInfo.currentPage-1)*10+1 %> to <%= Math.min((pageInfo.currentPage-1)*10+pageInfo.numResults, pageInfo.totalResults) %> entries out of <%= pageInfo.totalResults %></p>
      <ul class="pagination">
        <li class="page-item <%= pageInfo.currentPage == 1 ? "disabled" : "" %>">
          <a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=<%= parseInt(pageInfo.currentPage)-1 %>" tabindex="-1">Previous</a>
        </li>
        <li class="page-item <%= 1 == pageInfo.currentPage ? "active" : "" %>"><a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=1">1</a></li>
        <% if(pageInfo.currentPage > 4 && pageInfo.totalPages > 7) { %><li class="page-item disabled page-link">...</li><% } %>
        <% for(var i = pageInfo.pageNumbers.low; i <= pageInfo.pageNumbers.high; i++) { %>
        <li class="page-item <%= (i) == pageInfo.currentPage ? "active" : "" %>"><a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if(pageInfo.currentPage < pageInfo.totalPages - 3 && pageInfo.totalPages > 7) { %><li class="page-item disabled page-link">...</li><% } %>
        <% if(pageInfo.totalPages > 1) { %><li class="page-item <%= pageInfo.totalPages == pageInfo.currentPage ? "active" : "" %>"><a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=<%= pageInfo.totalPages %>"><%= pageInfo.totalPages %></a></li><% } %>
        <li class="page-item <%= pageInfo.currentPage == pageInfo.totalPages ? "disabled" : "" %>">
          <a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=<%= parseInt(pageInfo.currentPage)+1 %>" tabindex="-1">Next</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>

<!-- Delete user modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this expense?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="" method="">
          <button id="btnDelete" type="submit" class="btn btn-danger" expense_id="">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>
