<%- include ('../partials/header', {scripts: ["add-expense.js"]}) %>
<span id="user_id" hidden><%=session.user._id %></span>

<div class="container jumbotron">
  <h1 class="display-3">Summary</h1>
  <hr class="my-4">





  <h2 class="display-5"><%=session.user.name.first %>'s expenses</h2>

  <!-- expenses.foreach -->
  <table id="expenses-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th></th>
      </tr>
      <tr>
          <th><input type="text" class="form-control" name="title" id="title" placeholder="Title" required></th>
          <th>
            <div class="dropdown show">
              <select class="form-control" name="category" id="category" placeholder="category" required>
                <option>Food</option>
                <option>Utilities</option>
                <option>Transportation</option>
                <option>Entertainment</option>
                <option>Insurance</option>
                <option>Shopping</option>
                <option>Others</option>
              </select>
            </div>
          </th>

          <th><input type="text" class="form-control" name="date" id="date" placeholder="MM-DD-YYYY" required></th>
          <th><input type="number" step="0.01" class="form-control" name="amount" id="amount" placeholder="00.00"
              required></th>
          <th><button type="submit" id="add-btn" class="btn btn-primary my-3">Add</button></th>
      </tr>
    </thead>
    <tbody>
      <% expenses.forEach(function(expense) { if(!expense.disabled) { %>
        <tr class="expense" id="tr-<%= expense._id %>">
          <td><%= expense.title %></td>
          <td><%= expense.category %></td>
          <td><%= expense.date.toDateString() %></td>
          <td><%= expense.amount %></td>
          <td><button id="<%= expense._id %>" onclick="deleteExpense(event)" type="submit" class="btn btn-danger">Delete</button></td>
        </tr>
      <% }}); %>


      <!-- <tr>
        <th scope="col">Total</th>
        <th></th>
        <th></th>
        <th scope="col"><%= total %></th>
        <th></th>
      </tr> -->
    </tbody>
  </table>


</div>



<%- include ('../partials/footer') %>