<%- include ('../partials/header', { scripts: ["add-expense.js"], styles: [] }) %>

<div class="d-flex flex-fill" style="overflow-y: auto">
  <div class="container">
    <div class="jumbotron py-4">
      <h1 class="display-3 mb-4"><%=session.user.name.first %>'s expenses</h1>

      <!-- num results and search bar -->
      <div class="d-flex">
        <div class="mr-auto">
          <div table_length"><label>Month
              <select id="month" class="custom-select-sm" style="border-width:0px;">
                <option value="0" <%= session.month == 0 ? "selected" : "" %>>All Months</option>
                <option value="12" <%= session.month == 12 ? "selected" : "" %>>December</option>
                <option value="11" <%= session.month == 11 ? "selected" : "" %>>November</option>
                <option value="10" <%= session.month == 10 ? "selected" : "" %>>October</option>
              </select></label>
          </div>
        </div>
          <div class="mr-auto">
            <div table_length"><label>Show
                <select id="table_length" class="custom-select-sm" style="border-width:0px;">
                  <option value="10" <%= session.num_results == 10 ? "selected" : "" %>>10</option>
                  <option value="25" <%= session.num_results == 25 ? "selected" : "" %>>25</option>
                  <option value="50" <%= session.num_results == 50 ? "selected" : "" %>>50</option>
                  <option value="100"<%= session.num_results == 100 ? "selected" : "" %>>100</option>
                </select> entries</label>
            </div>
          </div>
        <div class="">
          <div id="expenses-table_filter" class="">
            <label>Search: <input id="search" type="search" class="form-control-sm" placeholder="Search expense" style="border-width:0px;"
              value="<%= pageInfo.search ? pageInfo.search : "" %>"></label>
          </div>
        </div>
      </div>

      <!-- table -->
      <table id="expenses-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" name="title" id="title" placeholder="Title" required></th>
            <th><input type="number" step="0.01" class="form-control" name="amount" id="amount" placeholder="00.00" required></th>
            <th><input type="date" class="form-control" name="date" id="date" required></th>
            <th>
              <div class="dropdown show">
                <select class="form-control" name="category" id="category" placeholder="category" required>
                  <option>Food</option>
                  <option>Utilities</option>
                  <option>Transportation</option>
                  <option>Entertainment</option>
                  <option>Insurance</option>
                  <option>Shopping</option>
                  <option selected>Others</option>
                </select>
              </div>
            </th>
            <th><button type="submit" id="add-btn" class="btn btn-primary m-0">Add</button></th>
          </tr>
        </thead>
        <tbody>
          <% expenses.forEach(function(expense) { if(!expense.disabled) { %>
          <tr class="expense" id="tr-<%= expense._id %>">
            <td><%= expense.title %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.date.toDateString() %></td>
            <td><%= expense.category %></td>
            <td><button id="<%= expense._id %>" onclick="deleteExpense(event)" type="submit" class="btn btn-danger">Delete</button></td>
          </tr>
          <% }}); %>
        </tbody>
      </table>

      <div class="d-flex">
      <p class="mr-auto">Showing <%= (pageInfo.currentPage-1)*10+1 %> to <%= Math.min((pageInfo.currentPage-1)*10+pageInfo.numResults, pageInfo.totalResults) %> entries out of <%= pageInfo.totalResults %></p>
      <ul class="pagination">
        <li class="page-item <%= pageInfo.currentPage == 1 ? "disabled" : "" %>">
          <a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=<%= parseInt(pageInfo.currentPage)-1 %>" tabindex="-1">Previous</a>
        </li>
        <% for(var i = 0; i < pageInfo.totalPages; i++) { %>
        <li class="page-item <%= (i+1) == pageInfo.currentPage ? "active" : "" %>"><a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=<%= i+1 %>"><%= i+1 %></a></li>
        <% } %>
        <li class="page-item <%= pageInfo.currentPage == pageInfo.totalPages ? "disabled" : "" %>">
          <a class="page-link" href="/expenses?<%= pageInfo.search ? ('search='+pageInfo.search+'&') : "" %>page=<%= parseInt(pageInfo.currentPage)+1 %>" tabindex="-1">Next</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>
