<%- include ('../partials/header') %>
<span id="user_id" hidden><%=session.user._id %></span>

<div class="container jumbotron">
  <h1 class="display-3">Summary</h1>
  <p class="lead"><%=session.user.name.first %></p>
  <hr class="my-4">

  <form class="m-3" action="/expenses" method="POST">

    <div class="d-flex justify-content-end">
      <button class="btn btn-success" type="submit" id="addExpense">Add Expense</button>
    </div>

    <!-- expenses.foreach -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% expenses.forEach(function(expense) { if(!expense.disabled) { %>
        <tr class="expense" id="<%= expense._id %>">
          <!-- <td scope="row"> -->
            <td><%= expense.title %></td>
            <td><%= expense.category %></td>
            <td><%= expense.date.toDateString() %></td>
            <td><%= expense.amount %></td>
          <!-- </td> -->
        </tr>
        <% }}); %>
      </tbody>
    </table>
    
  </form>
</div>

<%- include ('../partials/footer') %>
